.remove{
  display : none;
}
.post-list{
  width:300px;
}
.card-body-hr{
  display:flex;
  justify-content: space-around;
  margin-top: 30px;
}
img{
  width: 200px;
  border-radius: 50px;
  margin-bottom: 20px;
}
.header-hr{
  display: flex;
  justify-content: space-between;
}
.header-hr-left,.header-hr-right{
  display: flex;
}
.header-hr-left{
  margin-left: 60px;
}
.header-hr-right{
  margin-right: 60px;
}
.card-header-hr{
  display: flex;
  justify-content: space-between;
}