/*.profile .profile-card .zzim-button a {*/
/*  font-size: 20px;*/
/*  display: inline-block;*/
/*  color: rgba(1, 41, 112, 0.5);*/
/*  line-height: 0;*/
/*  margin-right: 10px;*/
/*  transition: 0.3s;*/
/*}*/

.profile .profile-card .zzim-button a:hover {
  color: #012970;
}

.boss-brand-name, .boss-brand-number .brand-type .brand-address .brand-email .brand-email {
  display: inline;
}

.readonly {
  border: none;
  resize: none;
  pointer-events: none;
  cursor: default;
  background-color: transparent;
  box-shadow: none;
}

/*!* Card *!*/

/*.card-body {*/
/*  padding: 0 20px 20px 20px;*/
/*  !*border: none;*!*/
/*  !*border-radius: 5px;*!*/
/*  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);*/
/*}*/
